.container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    
}

.divrow {
    display: flex;
}

.divbox {
    border: 1px solid black;
    flex: 1 0 auto;
    height: auto;
}

.divbox:before {
    content: '';
    display:block;
    padding-top: 100%
}

.hover {
    background-color: black;
    border: 1px solid white;
}







