.container {
    background: peachpuff;
    border: 4px solid brown;    
}

.divrow {
    display: flex;
}

.divbox {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex-grow: 1;
}








