.container {
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.divrow {   
    flex-grow: 1;
    display:flex;
    
}

.divbox {
    border: 1px solid black;
    flex: 1 0 auto;
    height: auto;
    margin: -1px 0 0;
}

.divbox:before {
    content: '';
    display:block;
    padding-top: 100%
}

.hover {
    background-color: black;
    border: 1px solid white;
}

#btn {
    display:flex;
    padding: 20px;
    font-size:larger;
    justify-content: center;
    align-items: center;
}






